body {
    margin: 0;
}

.app {
	min-height: 100vh;
}

.app.dark {
	background: #5f5fbb;
}

.app.light {
	background: #4793d2;
}

input {
	outline: none;
	background: none;
	border: none; 
}

input:focus,
input:hover {
	outline: none;
	background: none;
	border: none;
}